 
     


<ion-view>
  <ion-nav-title>
      <img src="img/logo.png" height="100%" > 
  </ion-nav-title>

  <ion-content> 
  
     <div class="card">
      <div class="item item-divider">
        CONFIGURAÇÕES DO APP
      </div>
    </div>

    <div class="list">

      <a class="item item-icon-left" href="#/tab/servicos/sobre">
        <i class="icon ion-briefcase"></i>
        Sobre o GuiafoneJP
      </a>

      <a class="item item-icon-left" href="#/tab/servicos/termos">
        <i class="icon ion-edit"></i>
        Termos de Uso
      </a> 

      <a class="item item-icon-left" href="#/tab/servicos/sistema">
        <i class="icon ion-ios-cog"></i>
        Sistema
      </a>
     
    </div>

  </ion-content>
</ion-view>
 