 
     


<ion-view>
  <ion-nav-title>
      <img src="img/logo.png" height="100%" > 
  </ion-nav-title>

  <ion-content ng-controller="Favoritos"> 
  
     <div class="card">
      <div class="item item-divider">
        SEUS NÚMEROS FAVORITOS  
      </div>
    </div>
 
<ion-list>
      <ion-item 
              class="item-icon-right item-text-wrap" 
              ng-repeat="nome in post track by $index"  
              type="item-text-wrap" 
              href="#/tab/favoritos/{{nome.id}}*{{nome.strNome}}*{{nome.strTelefone1}}*{{nome.strTelefone2}}*{{nome.strTelefone3}}*{{nome.strEndereco}}*{{nome.pic}}"> 
        
        <h2>{{nome.strNome}}</h2>
        <p>{{nome.strTelefone1}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
</ion-list> 


  </ion-content>
</ion-view>
 