 
     


<ion-view>
  <ion-nav-title>
      <img src="img/logo.png" height="100%" > 
  </ion-nav-title>

  <ion-content> 
  
     <div class="card">
      <div class="item item-divider">
       CADASTRO NA PROMOÇÃO DA HORA
      </div>
    </div>
  <form method="post" ng-submit="submit_promocao(contactform, formData)" name="contactform" role="form">
 

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">NOME</span>
    <input type="text" ng-model="formData.nome">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">ENDEREÇO</span>
    <textarea ng-model="formData.endereco"></textarea>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">TELEFONE 1</span>
    <textarea ng-model="formData.telefone"></textarea>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">TELEFONE 2 (opcional)</span>
    <textarea ng-model="formData.telefone1"></textarea>
  </label>
  
   
   <button class="button button-block button-positive">
  ENVIAR
</button>


  </ion-content>
</ion-view>
 