   <ion-side-menus>
      <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
          <h1 class="title">Side Menu</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="list">
            <a href="#/menu/tab/buttons" class="item" menu-toggle="left">UI Components</a>
            <a href="#/menu/keyboard" class="item" menu-toggle="left">Keyboard Input Types</a>
            <a href="#/menu/slidebox" class="item" menu-toggle="left">Slide Box</a>
            <a href="#/menu/about" class="item" menu-toggle="left">About</a>
          </ul>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>