 <ion-view>
  <ion-nav-title>
      <img src="img/logo.png" width="80%" style="margin-top: -10px;"> 
  </ion-nav-title>

  <ion-content> 
  
     <div class="card">
      <div class="item item-divider">
        DETALHES SOBRE O SISTEMA
      </div>
      <div class="item item-text-wrap">
        Confira o mês recorrente e certifique-se se a sua versão esta atualizada.
      </div>
    </div>

    <div class="list">                  

           <a class="item item-icon-left" href="#">
            <i class="icon ion-compass"></i>
            Versão do Aplicativo<br>
            <h2>{{versao}}</h2>
          </a>

           <a class="item item-icon-left" href="#">
            <i class="icon ion-calendar"></i>
            Mês de Atualização<Br>
            <h2>{{mes}}</h2>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-code-working"></i>
            Desenvolvido por:<br>
            <h2>Toni Reniê Schott Agne</h2>
            toniagne@gmail.com
          </a>

           
       </div> 
  </ion-content>
</ion-view>
 