 
     


<ion-view>
  <ion-nav-title>
      <img src="img/logo.png" height="100%" > 
  </ion-nav-title>

  <ion-content> 
  
     <div class="card">
      <div class="item item-divider">
        SOBRE O GUIAFONE JP
      </div>

      <div class="item item-text-wrap">
        Com dezessete anos no mercado e tiragem de aproximadamente sete mil e quinhentos exemplares, encartados mensalmente no <b>Jornal do Povo</b>, o <b>GuiafoneJP</b> atinge hoje a preferência de 55,26% da população, conforme pesquisa Top of Mind realizada pela ULBRA - Cachoeira do Sul em 2014. <br>
       <Br>
          Esta é a <b>única lista telefônica</b> da cidade atualizada <b>todo mês</b>, com números de celulares, convencionais, residenciais e comerciais e que possibilita que sua empresa se destaque.<Br>
    <br> 
      </div>
    </div>

   




  </ion-content>
</ion-view>
 