 
     


<ion-view view-title="{{chat.nome}}">

  <ion-content delegate-handle="mainScroll">
<ion-list>
      <ion-item 
              class="item-icon-right item-text-wrap" 
              ng-repeat="nome in nomes | filter:pesquisa | filter:pesquisa2 | orderBy:'posicao'"  
              type="item-text-wrap" 
              href="#/tab/segmentos/detalhes/{{nome.id}}*{{nome.strNome}}*{{nome.strTelefone1}}*{{nome.strTelefone2}}*{{nome.strTelefone3}}*{{nome.strEndereco}}*{{nome.pic}}"> 
        
        <h2>{{nome.strNome}}</h2>
        <p>{{nome.strTelefone1}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
</ion-list>
 <div ng-if="erroi === '2'">
    <div class="tela-erro" ng-show="(nomes | filter:pesquisa).length == 0">  
      <!--  <span ng-init="abreaviso('Não foi encontrado nenhum item com esta expressão.')"></span> -->
    </div>
 </div>
  </ion-content>
</ion-view>

 <div class="bar bar-footer" style="height:70px;">
    
      <div class="item item-image">
        <img src="img/banners/space.png">
      </div> 
</div>