
<ion-view>
  <ion-nav-title>
      <img src="img/logo.png" width="80%" style="margin-top: -10px;"> 
  </ion-nav-title>

  <ion-content delegate-handle="mainScroll">
    <div class="item-input-inset">
      <label class="item-input-wrapper" >
        <input type="text" placeholder="DIGITE SUA PESQUISA" ng-model="expres" style="height: 50px;">
      </label>
      <a href="" class="button icon-left ion-search button-clear button-dark" ng-click="pesquisar(expres)"> </a>
       

    </div>
<div class="list">
        <li class="item" ng-repeat="airline in airlines | filter:expres ">{{airline.name}}</li>
      </div> 



<ion-list>
      <ion-item 
              class="item-icon-right item-text-wrap" 
              ng-repeat="nome in nomes track by $index"  
              type="item-text-wrap" 
              href="#/tab/dash/{{nome.id}}*{{nome.strNome}}*{{nome.strTelefone1}}*{{nome.strTelefone2}}*{{nome.strTelefone3}}*{{nome.strEndereco}}*{{nome.pic}}"> 
        
        <h2>{{nome.strNome}}</h2>
        <p>{{nome.strTelefone1}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
</ion-list> 


 
 <br><Br>
 <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-android-star ion-flag"></i>
     Publicidade  
  </label>
</div>
 <div class="row">
  <div class="col">
  <a href="#/tab/dash/0001*CellSystem computadores*37221000*37221177**7 de Setembro, 1500*business.png">
   <img src="img/banners/cellsystem-ico.png" width="100%">
   </a>
  </div>
  <div class="col">
    <a href="#/tab/dash/0001*MAQGELAR REFRIGERAÇÃO, CLIMATIZAÇÃO E MÁQUINAS*37222420*92145303*95007018*Dnª Hermínia, 1975*business.png">
   <img src="img/banners/maqgelar-ico.png" width="100%">
   </a>
  </div>
  <div class="col">
   <a href="#/tab/dash/0001*CASA DO ALARME*37245422*97120837**A Borges, 879 02*business.png">
   <img src="img/banners/casadoalarme-ico.png" width="100%">
   </a>
  </div>
  </div>

 
  </ion-content>
</ion-view>  

 <div class="bar bar-footer" ng-show="rodape" >
   <button class="button button-large icon-left ion-nuclear button-full button-positive" style="margin-top: -5px;" ng-click="limpapesquisa()">
    LIMPAR PESQUISA
  </button> 
</div>