 
     


<ion-view>
  <ion-nav-title>
      <img src="img/logo.png" width="80%" style="margin-top: -10px;"> 
  </ion-nav-title>

  <ion-content delegate-handle="mainScroll">
   <div class="card">
      <div class="item item-divider">
        PESQUISA POR ENDEREÇOS
      </div>
    </div>

    <div class="item-input-inset">
      <label class="item-input-wrapper" >
        <input type="text" placeholder="DIGITE O NOME DA RUA" ng-model="expres" style="height: 50px;">
      </label> 
    </div>


<ion-list>
      <ion-item 
              class="item-icon-right item-text-wrap" 
              ng-repeat="rua in enderecos | filter:expres | limitTo: 15"  
              type="item-text-wrap" 
              ng-click="inserirnumero(rua.strEndereco);">  
        <h2>{{rua.strNome}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i> 
      </ion-item>
 </ion-list>

<div class="item-input-inset" ng-show="numero">
      <label class="item-input-wrapper" >
        <input type="text" placeholder="DIGITE O Nº" ng-model="numerorua" style="height: 50px;">
      </label>
      <a href="" class="button icon-left ion-search button-clear button-dark" ng-click="pesquisar(numerorua)"> </a>
</div>


<ion-list>
      <ion-item 
              class="item-icon-right item-text-wrap" 
              ng-repeat="nome in nomes | orderBy:'posicao'"  
              type="item-text-wrap" 
              href="#/tab/chats/{{nome.id}}*{{nome.strNome}}*{{nome.strTelefone1}}*{{nome.strTelefone2}}*{{nome.strTelefone3}}*{{nome.strEndereco}}*{{nome.pic}}"> 
        <h2>{{nome.strNome}}</h2>
        <p>{{nome.strTelefone1}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
</ion-list>

 <div ng-if="erroi === '2'">
    <div class="tela-erro" ng-show="(nomes | filter:pesquisa).length == 0">  
      <!--  <span ng-init="abreaviso('Não foi encontrado nenhum item com esta expressão.')"></span> -->
    </div>
 </div>

  </ion-content>
</ion-view>

