 <ion-view>
  <ion-nav-title>
      <img src="img/logo.png" height="100%" > 
  </ion-nav-title>

  <ion-content> 
  
     <div class="card">
      <div class="item item-divider">
        TERMOS DE USO DO APP
      </div>

      <div class="item item-text-wrap">
        <b>Termos de Serviço do GuiafoneJP</b><br>
<i>24 de março de 2015</i><br>
<Br>
Termos aplicáveis. <br>Agradecemos por utilizar o aplicativo <B>GuiafoneJP</B>. <Br>
<Br>
A navegação e consulta pública deste aplicativo/site se sujeita aos termos e condições abaixo, se de alguma forma não concorda com os termos do serviço, ou caso não entenda os termos ou não aceite partes deles, o usuário não poderá utilizar o aplicativo <B>GuiafoneJP</B>.<Br>
<Br>
Não é permitida a cópia parcial ou integral deste sem autorização por escrita da empresa (entre em contato pelo formulário), contrato de cessão onerosa de relação de assinantes, para fins de catálogo telefônico junto à Oi Telecom S/A.<Br>
<Br>
<B>GuiafoneJP</B> não garante e não se responsabiliza por conteúdos e promoções/eventos aqui divulgados.<Br>
<Br>
O <B>GuiafoneJP</B> não garante que o conteúdo, as imagens e materiais contidos, utilizados e promoções oferecidos neste aplicativo estejam precisamente atualizados ou completos, e não se responsabiliza por qualquer promoções/eventos aqui divulgados que possam causar  danos por eventuais erros de conteúdo ou falha de informação.<Br>
<Br>
O <B>GuiafoneJP</B>, seus diretores ou funcionários em nenhuma circunstância, são responsáveis por informações, promoções e eventos aqui divulgados, por quaisquer danos diretos ou indiretos, por perda, incapacidade de uso por qualquer parte, vírus ou falha na informação, erros e atualizações de dados.<Br>
<Br>
O conteúdo será atualizado mensalmente, basta aceitar as atualizações em seu dispositivo.<br>
<br>
Agradecemos e aproveitem.<Br>
      </div>
    </div>
  </ion-content>
</ion-view>
 